<!DOCTYPE html>
<html>

  <head>
    <link href="/styles.css" rel="stylesheet">
    <link href="https://rocketseat.com.br/static/favicon.png" rel="icon" type="image/rocketseat-icon" >

    {% block head %}
      <title> {{ about.title }} </title>
    {% endblock %}
    
  </head>

  <body>

    <header>
      <div class="links">
        <a href="/"> Sobre </a>
        <a href="/courses"> Cursos </a>
        <a href="mailto:oi@rocketseat.com.br" target="_blank"> Email </a>
        <a href="tel:+5547992078767"> Telefone </a>
      </div>
    </header>

    {% block content %} {% endblock %}

  </body>
</html>